.pagination a {
    border: 1px solid #ddd; /* Gray */
    font-size: 22px;
}


.pagination{
    justify-content: center!important;
}
.pagination li a{
    color: #007bff;
}

.pagination li.active {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
}
.pagination li:hover:not(.active) {background-color: #ddd;}

.previous a :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



.pagination a:hover :not(.active){
    background-color: #ddd;}


