.vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.horizontal-center
{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    margin-top: 10px;
    outline: 0;
    border:none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    align-content: center;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.roundedSubmit{
    border-radius: 40px;
}

abbr:hover{
    cursor: context-menu;
}




